html,body {
    margin: 0;
    width: 900px;
    height: 600px;
    display: flex;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -webkit-app-region: drag;
  }
  #message {
      position: absolute;
      right: 4%;
      top: 90.5%;
      z-index: 3;
      font-size: 14px;
      color: #9d835a;
      font-family: 'manrope';
  }
  @font-face {
    font-family: "Avenir";
    src: url(../fonts/AvenirLTStd-Book.otf);
  }
  .bug{
    width: 120px;
    height: 30px;
    position: absolute;
    left: 817px;
    top: 21px;
  }
  .bug img{
   position: absolute;
   z-index: 2;
   width: 40px;
   height: 40px;
   -webkit-app-region: no-drag;
  }
  .logo img{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 20%;
    top: 10%;
  }
  .bug img:hover{
    scale: 1.1;
    cursor: pointer;
    transition: 0.7s ease;
  }
  .bug img:active{
    scale: 0.8;
    cursor: pointer;
    transition: 0.7s ease;
  }
  .excel{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 5;
  }
  .periodicals{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 350px;
  }
  #downloadButton{
      background: none;
      position: absolute;
      right: 27px;
      top: 83px;
  }
  .periodicals1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 276px;
  }
  .periodicals2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 459px;
  }
  .periodicals3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 459px;
  }
  .periodicals4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 659px;
  }
  .periodicals p,.periodicals1 p,.periodicals2 p,.periodicals3 p {
    font-size: 50px;
    color: #9d835a;
    font-family: 'manrope';
    position: absolute;
    opacity: 0.5;
    left: 50%;
  }
  .periodicals4 p {
    font-size: 50px;
    color: #9d835a;
    font-family: 'manrope';
    position: absolute;
    opacity: 0.5;
    left: 25%;
  }
  .container{
    position: relative;
    z-index: 1;
    width: 852px;
    height: 568px;
    border-radius: 10px;
    background: linear-gradient(103deg,#fbba4c,#abc1b5 87%);
  }
  .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  nav{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-wrap:nowrap;
    height: 568px;
    width: 35px;
  }
  nav button{
    -webkit-app-region: no-drag;
    z-index: 1;
    position: fixed;
    color: #5b6876;
    font-family:"manrope";
    font-size:large;
    font-weight: bold;
    margin: 0;
    opacity: 1;
    left: -45px;
    width: 130px;
    height: 36px;
    background: #aec1b1;
    transform:rotate(-90deg);
    border: none;
    border-radius: 10px 10px 0px 0px;
    transition: scale 0.5s ease;
  }
  .traffic-lights button{
    -webkit-app-region: no-drag;
    opacity: 0.65;
    background: linear-gradient(120deg, #eef2f6, #aec1b1 90%);
    transition: scale 0.5s ease;
  }
  .pdt-btns button:hover, 
  .spec-btns button:hover, 
  .da-btns button:hover, 
  .traffic-lights button:hover{
    -webkit-app-region: no-drag;
    /* background: linear-gradient(90deg, rgba(237, 241, 245, 1), rgba(174, 194, 177, 0.42)); */
    background: linear-gradient(255deg, #dadada, #e5e5e5, #f0f0f0);
    color: #9d835a;
    opacity: 0.80;
    scale: 1.07;
  }
  nav button:hover{
    background: #fbba4c;
    color: #9d835a;
    border: 1px solid white;
    scale: 1.07;
  }
  .pdt-btns button:focus, .spec-btns button:focus, .da-btns button:focus{
    -webkit-app-region: no-drag;
    opacity: 1;
    /* background: linear-gradient(90deg, rgba(237, 241, 245, 1), rgba(174, 194, 177, 0.42)); */
    background: linear-gradient(255deg, #dadada, #e5e5e5, #f0f0f0);
    color: #9d835a;
  }
  nav button:focus{
    background: #fbba4c;
    border: 1px solid white;
  }
  /* .wrapper{
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .wrapper .button{
    display: inline-block;
    height: 40px;
    width: 40px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button1{
    display: inline-block;
    height: 40px;
    width: 40px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button2{
    display: inline-block;
    height: 40px;
    width: 40px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover, 
  .wrapper .button1:hover,
  .wrapper .button2:hover
  {
    width: 120px;
  }
  .wrapper .button .icon, 
  .wrapper .button1 .icon,
  .wrapper .button2 .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon{
    background: #4267B2;
  }
  .wrapper .button1:hover .icon{
    background: #1DA1F2;
  }
  .wrapper .button2:hover .icon{
    background: #E1306C;
  }
  .wrapper .button .icon i,
  .wrapper .button1 .icon i,
  .wrapper .button2 .icon i{
    font-size: 25px;
    line-height: 40px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i,
  .wrapper .button1:hover .icon i,
  .wrapper .button2:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-family: 'Avenir';
    font-weight:500;
    line-height: 40px;
    margin-left: 8px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button1 span{
    font-size: 20px;
    align-content: center;
    font-family: 'Avenir';
    font-weight:500;
    margin-left:25px;
    line-height: 40px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button2 span{
    font-size: 20px;
    font-family: 'Avenir';
    font-weight:500;
    line-height: 40px;
    margin-left: -2px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button span{
    color: #4267B2;
  }
  .wrapper .button1 span{
    color: #1DA1F2;
  }
  .wrapper .button2 span{
    color: #E1306C;
  } */
  .icon-container {
    -webkit-app-region: no-drag;
    margin: 30px 0px 0px 200px;
    width: 100%;
    height: 55px;
    position: relative;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
  }
  .icon {
    -webkit-app-region: no-drag;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 30px;
    transition: transform 0.5s ease;
  }
  .icon1 {
    -webkit-app-region: no-drag;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 30px;
    transition: all 0.5s ease;
  }
  .icon2 {
    -webkit-app-region: no-drag;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 30px;
    transition: all 0.5s ease;
  }
  .icon::before, .icon1::before,.icon2::before {
    -webkit-app-region: no-drag;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease;
    border-radius: 30px;
  }
  .icon i, .icon1 i, .icon2 i {
    -webkit-app-region: no-drag;
    position: relative;
    color: #e8ecea;
    font-size: 30px;
    margin-top: 6px;
    transition: all 0.25s ease;
  }
  .icon-expand::before {
    -webkit-app-region: no-drag;
    background: #fbba4c;
    box-shadow: inset 0 0 0 60px #2d2c3e;
  }
  .icon-expand:hover::before {
    -webkit-app-region: no-drag;
    color: white;
    box-shadow: inset 0 0 0 1px #2d2c3e;
    transform: scale(1.3);
  }
  .body{
    -webkit-app-region: no-drag;
    display: flex;
    border: 0.5px solid #eae3cb;
    background: url("../img/homenew.png");
    background-size:cover;
    border-radius: 10px;
    width: 814px;
    height: 452px;
    margin-left: 30px;
    transition: all 0.5s linear;
  }
  /* .pdt-body{
    display: flex;
    border: 2px solid white;
    background-size:cover;
    border-radius: 10px;
    height: 452px;
    width: 625px;
    transition: all 0.5s linear;
    transform: translateX(200px);
  } */
  .video{
    -webkit-app-region: no-drag;
    top: 146px;
    left: 585px;
    position: absolute;
    border: 1px solid white;
    background: radial-gradient(#cfd6cd,#bac0a2);
    border-radius: 20px;
    width: 229px;
    height: 130px;
    transition: all 0.75s ease;
  }
  #video{
    -webkit-app-region: no-drag;
    position: absolute;
    top: 60px;
    left: 554px;
    border: 1px solid white;
    background: radial-gradient(#cfd6cd,#bac0a2);
    border-radius: 20px;
    width: 229px;
    height: 130px;
    transition: all 0.75s ease;
  }
  .pdt-btns, .spec-btns, .da-btns{
    -webkit-app-region: no-drag;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    position:absolute;
    flex-wrap: wrap;
    justify-content:space-around;
    width: fit-content;
    height: 420px;
    transition: all 0.50s ease;
    animation: button-animate 0.5s ease;
  }
  .pdt-btns button, .spec-btns button, .da-btns button{
    -webkit-app-region: no-drag;
    padding: 0px 0px;
    font-family: 'manrope';
    font-size: 22px;
    color: #9d835a;
    background: #fbba4c;
    border: 1px solid white;
    opacity: 0.75;
    width: 174px;
    height: 49px;
    border-radius: 40px;
    transition: all 0.5s ease;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 814px;
    height: 200px;
    font-size: 18px;
    font-family: manrope;
    color: #ffffff;
  }
  .contact p{
    font-size: 24px;
    font-family: manrope;
    color: #ffffff;
  }
  .contact ul{
    list-style: none;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    position: relative;
    width: 814px;
    height: 452px;
    top: 0px;
    left: 10px;
    font-family: manrope;
    font-size: 18px;
    color: rgb(86, 99, 100);
  }
  .names {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 120px 120px;
    justify-content: center;
    padding: -12px 0px 0px 0;
    font-family: manrope;
    font-size: 18px;
  }
  .name-align{
    width: 250px;
    height: 100px;
  }
  .name-align ul{
    color: white;
  }
  .graphic-container{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    position: absolute;
    top: 45px;
    left: 5px;
  }
  .xref-container{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    position: absolute;
    top: 0px;
    left: 5px;
  }
  .graphic-container ul, .xref-container ul{
    list-style: none;
    display: grid;
    width: 555px;
    height: 191px;
    background: #e1e2e2;
    grid-template-columns: 200px 200px;
    row-gap: 0px;
    column-gap: 80px;
    justify-content: left;
    align-content: space-around;
    color: #565946;
    font-family: 'Avenir';
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
  .graphic-container li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .graphic-container label{
  margin-left: 10px;
  }
  .gno input{
    -webkit-app-region: no-drag;
    width: 377px;
    height: 26px;
    border: none;
    border-radius: 15px;
    background: #e1e2e2;
  }
  .xno input{
    -webkit-app-region: no-drag;
    width: 350px;
    height: 26px;
    border: none;
    border-radius: 15px;
    background: #e1e2e2;
  }
  .sno input,.sno1 input{
    -webkit-app-region: no-drag;
    width: 200px;
    height: 26px;
    border: none;
    border-radius: 15px;
    background: #e1e2e2;
  }
  .x-ref1 input{
    margin-left:-3px; 
  }
  .gno{
    margin-top: 2px;
  }
  .xno{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 120px;
  }
  .sno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 18%;
  }
  .sno1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 5%;
  }
  .x-ref{
    margin: 36px 0px 0px 0px;
  }
  .x-ref1{
    margin: 33px 0px 0px 0px;
  }
  .gno input,.xno input,.sno input,.sno1 input,.metric-items input::placeholder {
    padding-left: 10px;
  }
  .metric-items input{
    padding-left: 10px;
  }

  .gtype{
    -webkit-app-region: no-drag;
    margin: 55px 0px 0px 0px;
  }
  .xtype{
    -webkit-app-region: no-drag;
    margin: 36px 0px 0px 0px;
  }
  .gtype1,.xtype1{
    -webkit-app-region: no-drag;
    margin: 0px 0px 0px 9px;
  }
  .gtype1 input{
    margin: 0px 0px 0px -20px;
  }
  .gtitle, .xtitle, .spectitle{
    margin: 0px 35px 10px 12px;
    width: fit-content;
    color: #565946;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Avenir';
  }
  .xtitle{
    margin: 0px 35px 10px 12px;
    width: fit-content;
    color: #565946;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Avenir';
  }
  input {
    accent-color: #75672a;
    width: 20px;
    height: 20px;
  }
  .submit{
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    width: 614.67px;
    top: 42px;
    left: -5px;
  
  }
  .xsubmit{
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    width: 614.67px;
    top: 18px;
    left: -5px;
  }
  .ssubmit{
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    width: 614.67px;
    top: 435px;
    left: 0px;
  }
  .msubmit-da{
    -webkit-app-region: no-drag;
    display: flex;
    width: 614.67px;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 431px;
  }
  .spsubmit{
    -webkit-app-region: no-drag;
    display: flex;
    width: 614.67px;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 435px;
  }
  .submit button,.xsubmit button,.ssubmit button, .msubmit-da button{
    -webkit-app-region: no-drag;
    position: relative;
    width: 134px;
    height: 38px;
    padding: 0px 0px;
    font-family: 'Avenir';
    font-size: 20px;
    color: #615648;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(120deg, #eef2f6, #aec1b1 90%); */
    background: linear-gradient(255deg, #dadada, #e5e5e5, #f0f0f0);
    border: none;
    border-radius: 20px;
    /* box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4); */
    overflow: hidden;
    cursor: pointer;
  }
  .spsubmit button{
    -webkit-app-region: no-drag;
    position: relative;
    width: 134px;
    height: 38px;
    padding: 0px 0px;
    font-family: 'Avenir';
    font-size: 20px;
    color: #615648;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(120deg, #eef2f6, #aec1b1 90%); */
    background: linear-gradient(255deg, #dadada, #e5e5e5, #f0f0f0);
    border: none;
    border-radius: 20px;
    /* box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4); */
    overflow: hidden;
    cursor: pointer;
  }
  .submit button :hover,.xsubmit button :hover, .ssubmit button :hover,.spsubmit button :hover, .msubmit-da button :hover{
    scale: 1.2;
  }
  .checked {
    width: 38px;
    height: 38px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    justify-content:center;
    align-items:center;
    top: 0px;
    opacity: 0;
    background: #fbba4c;
  }
  .checked svg {
    width: 35px;
  }
  .checked path {
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
  }
  .active button {
    background: #fbba4c;
    border: 1px solid white;
    transition: 1s;
  }
  .active p {
    transition: 1s;
    font-size: 16px;
    font-weight: bold;
    margin-right: 35px;
  }
  .active .checked {
    opacity: 1;
    transition: 0.5s;
    right: 0;
  }
  .active .checked path {
    transition: 0.5s;
    transition-delay: 0.3s;
    stroke-dashoffset: 0;
  }
  .spec{
    width: 626px;
    height: 430px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: space-around;
    align-items: center;
  }
  .exceltip{
    font-family: 'Avenir';
    color: #565946;
    font-weight: bold;
    width: fit-content;
    position: absolute;
    right: 106px;
    top: 24px;
  }
  textarea{
    -webkit-app-region: no-drag;
    width: 250px;
    height: 300px;
    border: none;
    border-radius: 15px;
    background: #e1e2e2;
  }
  textarea::placeholder{
    -webkit-app-region: no-drag;
    text-align: center;
    padding-top: 180px;
    font-family: 'Avenir';
    color: #565946;
    font-weight: bold;
  }
  .text-title{
    position: absolute;
    top: 10px;
    left: 250px;
    max-width: 330px;
    align-content: center; 
  }
  h1{
    font-family: 'Avenir';
    -webkit-app-region: drag;
    color: #615648;
    overflow: hidden;
  }
  .reveal{
    display: block;
    animation: textreveal 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    /* transition: all 3s ease-in-out; */
  }
  .metcontainer{
    display: flex;
    width: 626px;
    height: 426px;
    position: relative;
    top: 0px;
    left: 0px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    }
    .toggle-container{
      display: flex;
      flex-direction: row;
      position: absolute;
      width: 606px;
      height: 50px;
      justify-content: flex-end;
      align-items: center;
      margin: 0px;
      padding: 0px;
    }
    .upright {
      margin-left: 20px;
      margin-top: 3PX;
      font-size: 12px;
      font-family: manrope;
      color: #181616;
      top: 0px;
      left: 0px;
    }
    .upright h3{
      margin: 0px;
      color: #565946;
    }
    .toggle{
      top: 0px;
      left: 0px;
      width: 30px;
      height: 15px;
    }
    .item-spec{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .toggle input[type="checkbox"] {
      position: relative;
      /* top: 2.2px; */
      width: 30px;
      height: 15px;
      -webkit-appearance: none;
      background: #beb8ad;
      outline: none;
      border-radius: 8px;
      border: none;
      box-shadow: inset 0 0 2px rgba(0, 0, 0.2);
      transition: all 0.5s ease;
    }
    .toggle input:checked[type="checkbox"] {
      background: #fbba4c;
    }
    .toggle input[type="checkbox"]:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      display: flex;
      top: 2px;
      left: 2px;
      border-radius: 20px;
      background: white;
      box-shadow: 0 2px 5px rgba(0, 0, 0.2);
      transition: 0.5s;
    }
    .toggle input:checked[type="checkbox"]:before {
      left: 18px;
    }
    .text{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 126px;
      height: 376px;
      margin: 40px 0px 0px 0px;
      align-items: left;
    }
    .metric-container{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 40px 0px 0px 0px;
      width: 500px;
      height: 376px;
    }
    .text-items{
      height: 45px;
      color: #383838;
      font-family: 'Avenir';
      font-size: 22px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      left: 10px;
    }
    .plus{
      height: 26px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .metric-items{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 45px;
      position: relative;
      left: 20px;
    }
    .metric-items input{
      width: 176px;
      height: 26px;
      border-radius: 20px;
      padding: 0px;
      border: none;
      margin: 20px;
      background-color: #e1e2e2;
    }
    .plus span{
      color: #383838;
      font-size: 30px;
    }
    .text-items p{
      margin: 0px;
      padding: 0px;
    }
    .note{
      position: absolute;
      font-size: 12px;
      color: #000000;
      left: 25px;
      top: 22px;
    }
    .note h3{
      display: none;
      font-family: 'Avenir';
      color: #565946;
    }
    
     
  @keyframes button-animate{
    0%{
      /* transform: translateY(-20px); */
      opacity: 0;
    }
    100%{
      /* transform: translateY(0px); */
      opacity: 1;
  
    }
  }
  @keyframes textreveal{
    0%{
        transform: translate(-300px,0);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
  }
  @keyframes bug{
    0%{
        transform: translate(-300px,0);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
  }
  .traffic-lights {
      -webkit-app-region: no-drag;
      position: absolute;
      z-index: 2;
      top: -2px;
      left: 426px;
  
      .focus &, &:hover, &:active {
          > .traffic-light-close {
              background-color: #ff6159;
  
              &:active:hover {
                  background-color: #bf4942;
              }
          }
          > .traffic-light-minimize {
              background-color: #ffbd2e;
  
              &:active:hover {
                  background-color: #bf8e22;
              }
          }
      }
  
      > .traffic-light {
          -webkit-app-region: no-drag;
          &:before, &:after {
              visibility: hidden;
          }
      }
  
      &:hover, &:active {
          > .traffic-light {
              &:before, &:after {
                  visibility: visible;
              }
          }
      }
  }
  .traffic-light p{
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 20px;
    top: -13px;
    left: -1px;
    font-size: small;
  }
  .traffic-light {
      border-radius: 100%;
      padding: 0;
      height: 20px;
      width: 20px;
      border: 1px solid rgba(0, 0, 0, 0.06);
      box-sizing: border-box;
      background-color: #ddd;
      position: relative;
      outline: none;
  
      &:before, &:after {
          content: '';
          position: absolute;
          border-radius: 1px;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
      }
  
      &-close {
          &:before, &:after {
              background-color: #4d0000;
              width: 8px;
              height: 1px;
          }
          &:before {
              transform: rotate(45deg); 
              /* transform: translateY(-0.5px, -0.5px); */
          }
          &:after {
              transform: rotate(-45deg); 
              /* transform: translateY(-0.5px -0.5px); */
          }
          &:active:hover:before, &:active:hover:after {
              background-color: #190000;
          }
      }
  
      &-minimize {
          &:before {
              background-color: #995700;
              width: 8px;
              height: 1px;
              /* //transform: translateY(-0.5px); */
          }
          &:active:hover:before {
              background-color: #bf8e22;
          }
      }
  }
  
  .error img{
    width: 420px;
    height: fit-content;
    position: absolute;
    border-radius: 5px;
    left: 2%;
    top: 12%;
  }
  .errorMsg{
    font-size: 15px;
    color: #ffffff;
    font-family: 'manrope';
    position: absolute;
    width: 400px;
    height: fit-content;
    left: 5%;
    top: 42%;
  }
  .error{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    background: #fbba4c;
  }

.errorLogo button{
    cursor: pointer;
    -webkit-app-region: no-drag;
    z-index: 3;
    background: none;
    border: none;
}
.errorLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 21%;
    top: 37%;
}
.errorLogo img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-app-region: no-drag;
  }

